@model IEnumerable<BestPrinterBilling.Models.TblMachine>

@{
    ViewData["Title"] = "Data Entry";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/datatables.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <h4 class="text-sm-left">
                <a asp-action="Create" class="btn btn-info"><i class="fa fa-plus"></i> Add new entry </a>
                <a asp-action="Create" class="btn btn-info"><i class="fa fa-sync"></i> Sync</a>
            </h4>

        </div>


        <div class="col-sm">
            <h4 class="text-sm-right">

                <a asp-action="Create" class="btn btn-info"><i class="fa fa-cloud"></i> Export to Xero</a>
            </h4>
        </div>
    </div>
</div>
        <div class="box">

            <div class="box-body">
            <table id="tbllist" class="table table-hover">
                    
                        <thead>
                            <tr >
                                <th>
                                    Branch
                                </th>
                                <th>
                                    Customer
                                </th>
                                <th>
                                    Device Model
                                </th>
                                <th>
                                    Serial Number
                                </th>
                                <th>
                                    Cents/pg
                                </th>
                                <th>
                                    Opening Black Copies
                                </th>
                                <th>
                                    Opening Colour Copies
                                </th>
                                <th>
                                    Opening Large Impressions
                                </th>
                                <th>
                                    Closing Black Copies
                                </th>
                                <th>
                                    Closing Colour Copies
                                </th>
                                <th>
                                    Closing Large Impressions
                                </th>
                                <th>
                                    BW Print count billable
                                </th>
                                <th>
                                    Color Print count billable
                                </th>
                                <th>
                                    Large Print count billable
                                </th>
                                <th>
                                    Total Charge
                                </th>
                                <th>
                                    Minimum Charges
                                </th>


                               @* <th></th> inline editing icons here*@
                            </tr>
                        </thead>
                        <tbody>
                          @*  @foreach (var item in Model)
                            {
                              *@
                            <tr>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.Location) *@
                                    Broome
                                </td>
                                <td>
                                    Aarnja
                                </td>

                                <td>
                                    @*   @Html.DisplayFor(modelItem => item.Devicemodel) *@
                                    DC5C4475

                                </td>
                                <td>
                                    725198

                                    @*    @Html.DisplayFor(modelItem => item.Serialnum) *@
                                </td>
                                <td>
                                    0.0087125
                                </td>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.PrevRdsBw) *@
                                    59156
                                </td>
                                <td>

                                    @*@Html.DisplayFor(modelItem => item.PrevRdsClr) *@
                                    260534

                                </td>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.PrevRdsClrlrg) *@
                                    5316
                                </td>
                                <td>
                                    @*     @Html.DisplayFor(modelItem => item.CurRdsBw) *@
                                    61573

                                </td>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.CurRdsClr) *@
                                    264559
                                </td>
                                <td>
                                    @* @Html.DisplayFor(modelItem => item.CurRdsClrlrg) *@
                                    5315
                                </td>

                                <td>
                                    @*total BW print count to this period*@
                                    2417

                                </td>
                                <td>
                                    @*total CLR print count to this period*@
                                    4025
                                </td>
                                <td>
                                    @*total LARGE print count to this period*@
                                    -1
                                </td>

                                <td>
                                    @*total to charge*@
                                    $ 21.06
                                </td>
                                <td>
                                    @*minimum to charge*@
                                    82.00
                                </td>
                                @*
        <td>
            @Html.DisplayFor(modelItem => item.MinCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.MachineId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.MachineId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.MachineId">Delete</a>
        </td>
                                *@
                            </tr>
                            @*}*@
                        </tbody>
                    </table>
</div>
            </div>

   