@model BestPrinterBilling.Models.TblMachine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblMachine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serialnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serialnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devicemodel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devicemodel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceBw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceBw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceClr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceClr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceClrlrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceClrlrg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevRdsBw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevRdsBw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevRdsClr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevRdsClr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevRdsClrlrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevRdsClrlrg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurRdsBw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurRdsBw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurRdsClr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurRdsClr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurRdsClrlrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurRdsClrlrg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyBw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyBw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyClr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyClr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyClrlrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyClrlrg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevInvoiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevInvoiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevInvoiceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevInvoiceTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurInvoiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurInvoiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurInvoiceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurInvoiceTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintCountBw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintCountBw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintCountColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintCountColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintCountLarge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintCountLarge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MachineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
